<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ln.mycoupon">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.ln.app.MainApplication"
        android:allowBackup="true"
        android:excludeFromRecents="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--META DATA-->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="MyCoupon.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="11" />

        <meta-data
            android:name="AA_MODELS"
            android:value="
            com.ln.model.CompanyOfCustomer,
            com.ln.model.Coupon,
            com.ln.model.CouponTemplate,
            com.ln.model.NewsOfCompany,
            com.ln.model.OptionNews,
            com.ln.model.NewsOfCustomer" />

        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="com.ln.model.ByteImages" />
        <!-- ======================= START ACTIVITY OF APP =============== -->
        <activity
            android:name=".FirstActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shop.ShopMainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.CustomerMainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shop.ShopLoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".TestQRCode"
            android:label="@string/title_activity_test_qrcode"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddCouponActivity"
            android:label="@string/add_coupon"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddMessageActivity"
            android:label="@string/add_message"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".QRCodeActivity"
            android:label="@string/qrcode"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".customer.CouponCompanyOfClientActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".customer.CustomerLoginActivity" />

        <activity android:name=".PreviewImagesActivity" />
        <!-- ======================== END ACTIVITY OF APP =============== -->

        <service android:name="com.ln.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ln.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ============== START FACEBOOK =============== -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1073363172685474"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver
            android:name="com.ln.broadcast.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.ln.images.activities.ImagesCropActivity" />
        <activity
            android:name="com.ln.images.activities.ImagesCheckActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ln.images.cropimage.CropActivity"
            android:theme="@style/AppTheme.Light.NoActionBar" />
    </application>

</manifest>